#mobile-token-movement-controls {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15vh;
    box-shadow: 0 0 20px #000;
}

@media only screen and (max-width: 600px) {
    body.enable-mobile-token-movement-ui > *:not(#mobile-token-movement-controls):not(#board):not(#hud):not(#confetti-canvas):not(#dice-box-canvas):not(#pause):not(#notifications):not(#loading):not(#narrator),
    body.enable-mobile-token-movement-ui #hud > *:not(#image-hover-hud):not(#healthEstimate) {
        display: none !important;
    }

    body.enable-mobile-token-movement-ui {
        touch-action: manipulation;
    }

    body.enable-mobile-token-movement-ui #mobile-token-movement-controls {
        display: flex !important;
    }

    body.enable-mobile-token-movement-ui #mobile-token-movement-controls .mtmc-topleft i {
        transform: rotate(45deg);
        text-align-last: left;
    }

    body.enable-mobile-token-movement-ui #mobile-token-movement-controls .mtmc-bottomleft i {
        transform: rotate(-45deg);
        text-align-last: left;
    }

    body.enable-mobile-token-movement-ui #mobile-token-movement-controls .mtmc-topright i {
        transform: rotate(135deg);
        text-align-last: left;
    }

    body.enable-mobile-token-movement-ui #mobile-token-movement-controls .mtmc-bottomright i {
        transform: rotate(-135deg);
        text-align-last: left;
    }
}
